@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --c-primary: #F87361;
  --c-primary-light: #FF8B7B;
}

a {
  color: var(--c-primary);
}

a:hover {
  color: var(--c-primary-light);
}

/* Buttons */
.bp3-button.bp3-intent-primary {
  background-color: var(--c-primary);
  background-image: none;
  box-shadow: none;
}

.bp3-button.bp3-intent-primary:hover {
  background-color: var(--c-primary-light);
  box-shadow: none;
}

.bp3-button.bp3-intent-success {
  background-image: none;
  box-shadow: none;
}

.bp3-button.bp3-intent-success:hover {
  box-shadow: none;
}

.bp3-button.bp3-intent-primary:disabled,
.bp3-button.bp3-intent-primary.bp3-disabled {
  background-color: var(--c-primary-light);
}


/* :root {
  --c-primary: #F87361;
  --c-white: #FFF;

  --c-button-bg: var(--c-primary);
  --c-button-text: var(--c-white);

  --py-button: .8em;
  --px-button: 1.4em;
}

body {

}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito-italic-webfont.woff2') format('woff2'),
    url('/assets/fonts/nunito-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-regular-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-semibold-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-semibolditalic-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-semibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.App {
  font-family: Nunito, sans-serif;
} */