@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --c-primary-dark: #e06150;
  --c-primary: #F87361;
  --c-primary-light: #FF8B7B;
  --c-primary-lightest: rgb(255, 232, 230);

  --c-success: #45C491;
  --c-success-light: #73D3AD;

  --c-highlight: #FDE74C;
}

a {
  color: var(--c-primary);
}

a:hover {
  color: var(--c-primary-light);
}

/* Buttons */
.bp3-button.bp3-intent-primary:not(.bp3-minimal) {
  background-color: var(--c-primary);
  background-image: none;
  box-shadow: none;
}

.bp3-button.bp3-intent-primary:hover {
  background-color: var(--c-primary-light);
  box-shadow: none;
}

.bp3-button.bp3-intent-primary.bp3-minimal {
  color: var(--c-primary);
}

.bp3-button.bp3-intent-primary.bp3-minimal:hover {
  color: var(--c-primary-dark);
  background-color: var(--c-primary-lightest);
}

.bp3-button.bp3-intent-success {
  background-color: var(--c-success);
  background-image: none;
  box-shadow: none;
}

.bp3-button.bp3-intent-success:hover {
  background-color: var(--c-success-light);
  box-shadow: none;
}

.bp3-button.bp3-intent-primary:disabled,
.bp3-button.bp3-intent-primary.bp3-disabled {
  background-color: var(--c-primary-light);
}

/* Navbar */
.bp3-navbar {
  background-color: var(--c-primary-lightest);
  box-shadow: none;
}


/* Documents list */
.document-item .button__delete-document {
  transition: all 100ms ease-out;
  opacity: 0;
}

.document-item:hover .button__delete-document {
  opacity: 1;
}

/* Text editor */

.marker .highlight {
  background-color: var(--c-highlight);
  padding-bottom: 2px;
}

body .medium-editor-element {
  min-height: 0;
}

body .medium-editor-toolbar {
  background-color: var(--c-primary);
  border: 1px solid var(--c-primary-dark);
}

body .medium-editor-toolbar li button {
  border-right: 1px solid var(--c-primary-dark);
  height: 40px;
  min-width: 40px;
  padding: 6px;
}

body .medium-editor-toolbar li button:hover {
  background-color: var(--c-primary-dark);
}

body .medium-editor-toolbar li .medium-editor-button-active {
  background-color: var(--c-primary-dark);
}

body .medium-toolbar-arrow-under::after {
  border-color: var(--c-primary-dark) transparent transparent transparent;
  top: 40px;
}


/* :root {
  --c-primary: #F87361;
  --c-white: #FFF;

  --c-button-bg: var(--c-primary);
  --c-button-text: var(--c-white);

  --py-button: .8em;
  --px-button: 1.4em;
}

body {

}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito-italic-webfont.woff2') format('woff2'),
    url('/assets/fonts/nunito-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-regular-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-semibold-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito-semibolditalic-webfont.woff2') format('woff2'),
      url('/assets/fonts/nunito-semibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.App {
  font-family: Nunito, sans-serif;
} */